html, body {
  height:100%;
  width:100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.key {
  background: lightgray;
  border: 1px solid #aaa;
  padding: 3px;
  color: white;
  margin: 0 5px;
  border-radius: 2px;
}

.square {
  width: 90%;
  height: 100%;
  max-height: 600px;
  max-width: 600px;
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Snake {
  border: 5px solid forestgreen;
  background: #eee;
  margin: 15px auto;
}